<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", { title: "404", css: "", js: "" }) %>
<body>
    <%- include("partials/nav.ejs") %>
    <h1>404</h1>
    <p>I looked for the thing you wanted, but I couldn't find it.  Sad server.</p>
    <%- include("partials/footer.ejs") %>
</body>
</html>